@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @mixin grid($columns: 1fr, $gap: 1rem) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
  }
  