/* Newsletter Section Styles */
@use "../base" as base;

.newsletter {
    background-image: url('/src//assets/images/Newsletter.webp'); /* Replace with your actual image */
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    position: relative;
    // filter: brightness(0.7);
  }
  
  .newsletter-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2); 
    padding: 40px 20px;
    border-radius: 8px;
  }
  
  .newsletter-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .newsletter-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .newsletter-input {
    flex: 1;
    background-color: base.$primary-background-color;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    color: #fff;
  }

  
  .newsletter-button {
    background-color: base.$primary-background-color;
    color: #f7efef;
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .newsletter-button:hover {
    background-color: base.$background-custom-color;
  }
  