# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

/backend

# Environment files
.env

# Build output
/build
/dist
/.next

# Log files
*.log

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files created by operating systems
*.swp
*.swo

# .env.production, .env.local, or other environment-specific files can also be ignored
.env.*
